---
import Paragraph from '../shared/Paragraph.astro';

export interface Props{
    title:string,
    description:string
}
const { title, description } = Astro.props
---
<div class="group p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden
hover:bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600
">
    <div class="rounded-xl bg-gray-300 dark:bg-gray-950 p-3 text-heading-1 w-max relative">
        <slot name="icon"/>
    </div>
    <h2 class="md:text-xl font-semibold text-heading-2 mt-6 mb-4 group-hover:text-white"> {title} </h2>
    <Paragraph className="group-hover:text-white">
        {description}
    </Paragraph>
</div>