---
import ByNumber from "./ByNumber.astro";
---

<section class="relative">
  <div class="h-screen">
    <div class="relative overflow-hidden h-5/6">
      <video
        autoplay
        muted
        loop
        class="absolute z-10 w-auto min-w-full min-h-full max-w-none"
      >
        <source
          src="https://appinventiv.com/wp-content/themes/twentynineteen-child/new-images/video/home-video-new.mp4"
          type="video/mp4"
        />
        Your browser does not support HTML5 video.
      </video>
      <div
        class="absolute z-20 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center"
      >
        <h1
          class="text-white font-bol text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight"
        >
          Crafting Your Digital Identity
        </h1>
        <p class="text-white text-xl mt-6">
          We transform visions into vibrant digital realities. Specializing in
          web design and development, we ensure your digital presence is as
          unique as your brand, making lasting impressions in the digital world.
        </p>
      </div>
    </div>
    <ByNumber />
  </div>
</section>
