---
import Layout from "../layouts/Layout.astro";
import AboutUsMain from "../components/sections/about_us/AboutUsMain.jsx";
import AboutInfo from "../components/sections/about_us/AboutInfo.jsx";
import HowItWorks from "../components/sections/about_us/HowItWorks.jsx";
import ByNumber from "../components/sections/ByNumber.astro";
import AboutTeam from "../components/sections/about_us/AboutTeam.jsx";
import TestimonialSection from "../components/sections/TestimonialSection.astro";
import NewsLetter from "../components/sections/services/NewsLetter";
import {LampBackground} from '../components/ui/lamp/LampBackground';
---

<Layout title="Welcome to AgileGeeks">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <LampBackground client:only />
    <AboutInfo client:only />
    <HowItWorks client:only />
    <ByNumber />
    <AboutTeam client:only />
    <TestimonialSection />
    <!-- <NewsLetter/> -->
  </main>
</Layout>