---
import ContactForm from "../components/sections/contact/ContactForm.jsx";
import { LampBackground } from "../components/ui/lamp/LampBackground";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Cognivac">
  <LampBackground client:only />
  <p class="text-6xl text-white text-center">Contact Us</p>
  <ContactForm client:only />
</Layout>
