---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/landingPage/Hero.astro";
import Services from "../components/sections/landingPage/Services.astro";
import CTA from "../components/sections/landingPage/CTA.astro";
import TestimonialSection from "../components/sections/TestimonialSection.astro";
import IndustryDemand from "../components/sections/services/IndustryDemand";
import { GoogleGeminiEffectDemo } from "../components/ui/google-gemini-effect/GoogleGeminiEffect";
import { SparklesPreview } from "../components/ui/sparkles/SparklesBg";
---

<Layout title="Welcome to AgileGeeks">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <Services />
    <IndustryDemand />
    <!-- <CTA /> -->
    <TestimonialSection />
  </main>
</Layout>
