---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import Services from "../components/sections/Services.astro";
import CTA from "../components/sections/CTA.astro";
import TestimonialSection from "../components/sections/TestimonialSection.astro";
import IndustryDemand from "../components/sections/services/IndustryDemand";
---

<Layout title="Welcome to AgileGeeks">
  <main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
    <Hero />
    <Services />
    <IndustryDemand />
    <CTA />
    <TestimonialSection />
  </main>
</Layout>
