---
import Service from "../../cards/Service.astro";
import Container from "../../shared/Container.astro";
import Paragraph from "../../shared/Paragraph.astro";
import Title from "../../shared/Title.astro";
import { services } from "../../../utils/data.js";
import { MeteorsCard } from "../../ui/meteors/MeteorsCard";

type ServicesProps = {
  title: string;
  description: string;
  icon: string;
};
---

<div
  class="bg-white w-full py-10 dark:border dark:border-white/[0.1] relative overflow-clip"
>
  <section id="services">
    <Container className="space-y-10 md:sapce-y-12 bg-white ">
      <div class="text-center max-w-3xl mx-auto space-y-4">
        <p class="text-center sm:text-3xl text-2xl md:text-5xl">
          Technoligies We Offer
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
        {
          services.map((service, index) => (
            <MeteorsCard
              name={service.title}
              description={service.description}
            />
          ))
        }
      </div>
    </Container>
  </section>
</div>
